.container__advantage {
  padding-top: 119px;
  padding-bottom: 127px;
  display: grid;
  grid-template-areas:
        "f f g g"
        "i a b c";
  align-items: end;
  grid-column-gap: 72px;
  grid-row-gap: 78px;
}

.advantage__thing {
  grid-area: f;
}

.thing__title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  max-width: 475px;
  margin-bottom: 60px;
  font-weight: 400;
}

.thing__desc {
  font-size: 18px;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 398px;
}

.advantage__img {
  grid-area: g;
  max-width: 520px;
  justify-self: end;
}

.advantage__item {
  width: 226px;
  align-self: baseline;
}

.circle {
  border-radius: 50%;
  background: #821328;
  position: relative;
  width: 70px;
  height: 70px;
}

.num {
  font-size: 60px;
  font-family: GilroyExtraBold, sans-serif;
  color: #ffffff;
  line-height: 0.75;
  position: absolute;
  margin-top: 27px;
  margin-left: 19px;
}

.advantage__title {
  font-size: 20px;
  font-family: GilroyExtraBold, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 2.25;
  font-weight: 400;
}

.advantage__desc {
  font-size: 15px;
  color: rgb(51, 25, 7);
  line-height: 1.333;
  font-family: GilroyMedium, sans-serif;
}

.advantage__item:hover .circle {
  background: rgb(235, 168, 177);
  transition: 0.5s;
}

.advantage__item:hover .num {
  color: #821328;
}

@media screen and (max-width: 1135px) {
  .container__advantage {
    grid-column-gap: 62px;
  }
}

@media screen and (max-width: 1119px) {
  .container__advantage {
    grid-column-gap: 52px;
  }
}

@media screen and (max-width: 1100px) {
  .container__advantage {
    padding-top: 89px;
  }
}

@media screen and (max-width: 1090px) {
  .container__advantage {
    grid-column-gap: 42px;
  }
}

@media screen and (max-width: 1079px) {
  .container__advantage {
    grid-column-gap: 22px;
  }
}

@media screen and (max-width: 1055px) {
  .container__advantage {
    grid-column-gap: 12px;
  }
}

@media screen and (max-width: 1039px) {
  .container__advantage {
    grid-column-gap: 0;
  }
}

@media screen and (max-width: 988px) {
  .container__advantage {
    padding-top: 119px;
    padding-bottom: 120px;
    grid-template-areas:
        "f f"
        "g g"
        "i a"
        "b c";
    justify-content: center;
    justify-items: end;
    grid-column-gap: 54px;
    grid-row-gap: 80px;
  }

  .advantage__thing {
    text-align: center;
  }

  .thing__title {
    margin-bottom: 61px;
  }
}

@media screen and (max-width: 949px) {
  .advantage__img {
    justify-self: center;
  }

  .advantage__img-two {
    max-width: 420px;

  }
}

@media screen and (max-width: 909px) {
  .advantage__img {
    justify-self: center;
  }

  .advantage__img-two {
    max-width: 360px;

  }
}

@media screen and (max-width: 879px) {
  .container__advantage {
    grid-column-gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container__advantage {
    grid-column-gap: 54px;
    grid-row-gap: 0;
  }

  .advantage__img-two {
    width: 302px;
    margin-bottom: 88px;
  }

  .advantage__item {
    width: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
  }

  .advantage__title-right {
    justify-self: start;
  }

  .thing__title {
    margin: 0 auto 61px;
  }

  .thing__desc {
    max-width: 666px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 687px) {
  .thing__title {
    margin-left: 90px;
  }
}

@media screen and (max-width: 619px) {
  .thing__title {
    margin-left: 70px;
  }
}

@media screen and (max-width: 584px) {
  .thing__title {
    margin-left: 40px;
  }
}

@media screen and (max-width: 566px) {
  .thing__title {
    margin-left: 15px;
  }
}

@media screen and (max-width: 508px) {
  .container__advantage {
    grid-column-gap: 15px;
  }

  .thing__title {
    margin-left: 0px;
  }
}

@media screen and (max-width: 418px) {
  .container__advantage {
    padding-top: 100px;
    padding-bottom: 64px;
  }

  .thing__title {
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 1.167;
  }

  .thing__desc {
    margin-left: 0;
    margin-bottom: 59px;
    font-size: 13px;
    line-height: 1.385;
  }

  .advantage__img-two {
    margin-bottom: 60px;
    max-width: 332px;
  }

  .advantage__item {
    margin-bottom: 36px;
    width: 165px;
  }

  .advantage__thing {
    max-width: 372px;
  }

  .advantage__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {

  .thing__title {
    font-size: 25px;
  }

  .thing__desc {
    font-size: 13px;
  }

  .advantage__thing {
    max-width: 300px;
  }

  .container__advantage {
    grid-template-areas:
        "f f"
        "g g"
        "i 1"
        "a a"
        "b b"
        "c c";
  }

  .advantage__item {
    width: 300px;
    margin-bottom: 30px;
  }

  .one {
    grid-area: i;
  }

  .two {
    grid-area: a;
  }

  .three {
    grid-area: b;
  }

  .four {
    grid-area: c;
  }

  .advantage__img-two {
    max-width: 290px;
  }
}



