<section class="main">
  <header class="header">
    <div class="container container__header">

      <div class="logo">
        <img src="assets/img/macaroons.png" alt="logo">
      </div>
      <div class="burger" id="burger">
        <img src="assets/img/menu_icons.png" alt="burger">
      </div>
      <nav class="menu" id="menu">
        <div class="menu__close">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                                <g>
                                	<g>
                                		<path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                                	</g>
                                </g>
                                </svg>
        </div>
        <ul class="menu__list">
          <li>
            <div class="menu__link" (click)="scrollTo(shopElement)">
              Пироженки
            </div>
          </li>
          <li>
            <div class="menu__link" (click)="scrollTo(advantageElement)">
              О нас
            </div>
          </li>
          <li>
            <div class="menu__link" (click)="scrollTo(orderElement)">
              Оформить заказ
            </div>
          </li>
        </ul>
      </nav>
      <div class="phone">
        {{headerPhone | phoneFormat}}
      </div>
    </div>
  </header>
  <div class="container container__main">
    <div class="main__info">
      <h1 class="main__info-title">Мягкие французские
        пироженки Macaroons</h1>
      <p class="main__info-desc">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </p>
      <div class="main__info_actions">
        <button class="btn main__info-btn" btnHover
                [btnHover]="hoverGradient"
                (click)="scrollToShop()">
          Выбрать макарун
        </button>
      </div>
    </div>
    <div class="main__img">
      <img src="assets/img/one.png" alt="macaroons" class="main__img-one">
    </div>
  </div>
</section>
<section class="advantage" #advantageElement>
  <advantage></advantage>
</section>
<section class="shop" #shopElement>
  <div class="container container__shop">
    <h2 class="shop__title">
      Выберите свой макарун
    </h2>
    <div class="shop__items">
      <shop class="shop__item" *ngFor="let shop of shops;" [shop]="shop" [orderElement]="orderElement" [hoverGradient]="hoverGradient"  (addToCardEvent)="addToCard($event)"
      ></shop>
    </div>
  </div>
</section>
<section class="order" #orderElement>
  <div class="container container__order">
    <img src="assets/img/1.1.png" alt="strawberry" class="strawberry strawberry-left">
    <div class="order__img">
      <img src="assets/img/three.png" alt="macaroons" class="img-three">
    </div>
    <div class="order__info">
      <h3 class="order__title">
        Закажите макарун!
      </h3>
      <p class="order__desc">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
      <div class="input">
        <p class="input-text">
          Ваш выбор
        </p>
        <input class="input-one" type="text" placeholder="Напишите, что хотите заказать..."
               [(ngModel)]="formValues.itemTitle">
        <p class="input-text">
          Заполните данные для заказа
        </p>
        <input type="text" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        <input type="tel" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        <button class="btn order__input-btn"
                [btnHover]="hoverGradient"
                (click)="createOrder()">
          Оформить заказ
        </button>
      </div>
    </div>
    <img src="assets/img/1.2.png" alt="strawberry" class="strawberry strawberry-right">
  </div>
</section>
<footer class="footer">
  <div class="container container__footer">
    <div class="logo">
      <img src="assets/img/macaroons.png" alt="logo">
      <p class="rights">Все права защищены, 2020</p>
    </div>
    <div class="instagram">
      <img src="assets/img/instagram.png" alt="instagram">
      <a href="{{footerInstagram}}" target="_blank">
        <p>Мы в Instagram</p>
      </a>
    </div>
    <div class="phone">
      {{ headerPhone | phoneFormat }}
    </div>
  </div>
  <div class="present" *ngIf="showPresent">
    <div class="block">
      Оформите заказ
      и получите подарок!
    </div>
    <img src="assets/img/cart.png" alt="present" class="gift-box">
  </div>
</footer>
