* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: GilroyBold;
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Tavolga;
  src: url("./assets/fonts/Ivan Petrov - Tavolga Free.ttf");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: MyriadPro;
  src: url("./assets/fonts/MyriadPro-Regular.ttf");
}

body {
  font-family: Gilroy, sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  background-image: linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
  border-radius: 30px;
  font-family: GilroyBold, sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 23px 41px 21px;
  line-height: 1;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
  transition: 0.5s;
}

